div.attribution {
    display: grid;
    place-content: center;
    max-width: 40rem;
    margin: 0 auto;
    padding: 1rem;
}

p {
    color: var(--primary-color-dark);
}

a[href] {
    color: rgb(65, 65, 65);
    font-size: 0.9rem;
}