:host {
    display: block;
}

header {
    background-color: var(--light-black);
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 1rem;
}

h1 {
    color: white;
    font-size: 2rem;
}

p {
    color: white;
    font-style: italic;
    margin: 0;
}